<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbsMapper">

<resultMap type="bbs" id="bbsResultMap">
	
	<id property="bbsNo" column="bbs_no"/>
	<result property="name" column="name"/>
	<result property="title" column="title"/>
	<result property="date" column="bbs_date"/>
	<result property="contents" column="contents"/>
	</resultMap>
	
	<select id="selectTitle" resultMap="bbsResultMap">
	select bbs_no, name, title, bbs_date from bbs
	
	</select>
	
	<insert id="insertBbs">
	insert into bbs values(bbsno.nextval,#{name},#{title},sysdate,#{contents})
	</insert>
	
	<select id="selectOnebbs" resultMap="bbsResultMap">
	select * from bbs where bbs_no = #{bbsNo}
	</select>
	
	<select id="selectOneNameCheck" resultType="_int">
	select count(*) from bbs where name =#{name}
	</select>
	
	<update id="updateOnebbs">
	update bbs set contents = #{contents} where bbs_no = #{bbsNo}
	</update>
</mapper>