<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
<insert id="insertMember">

insert into member_tbl values(#{memberId}, #{memberPw},#{memberName}, #{memberEmail}, #{memberPhone}, #{memberAddress},default,default,default )

</insert> 
<update id="updateMember" parameterType="Member"> 
<!-- paramaterType은 자동형변환돼서 쓸필요는 없다, 원래는 type의 클래스의 정확한 주소를 적어야 함 -->
update member_tbl set member_pwd = #{memberPw}, member_email=#{memberEmail}, member_phone =#{memberPhone}, member_addr=#{memberAddress}, update_date = default where member_id=#{memberId}

</update>

<delete id="deldetMemger" parameterType="String">

<!-- delete from member_tbl where member_id=#{memberId} -->
update member_tbl 
set m_status = 'N' where member_id=#{memberId}



</delete>

<resultMap type="Member" id="memberResultMap">
<id property="memberId" column="MEMBER_ID"/>
<result property="memberPw" column="MEMBER_PWD"/>
<result property="memberName" column="MEMBER_NAME"/>
<result property="memberEmail" column="MEMBER_EMAIL"/>
<result property="memberPhone" column="MEMBER_PHONE"/>
<result property="memberAddress" column="MEMBER_ADDR"/>
<result property="endrollDate" column="ENROLL_DATE"/>
<result property="updateDate" column="UPDATE_DATE"/>
<result property="status" column="M_STATUS"/>
</resultMap>
<select id="selectLoginOne" resultMap="memberResultMap">

select member_id, member_name from member_tbl where member_id = #{memberId} and member_pwd= #{memberPw} and m_status='y'

</select>

<select id="selectOneId" resultMap="memberResultMap">
select * from member_tbl where member_id = #{memberId} and m_status='y'

</select>


</mapper>