<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
	<!-- null값이 있으면 null로 제대로 인식하게 한다. -->
</settings>

<typeAliases>
	<typeAlias type="com.kh.pilot.recipe.domain.Recipe" alias="Recipe"/>
	<typeAlias type="com.kh.pilot.recipe.domain.RecipeStep" alias="RecipeStep"/>
	<typeAlias type="com.kh.pilot.recipe.domain.RecipeMaterial" alias="RecipeMaterial"/>
	<typeAlias type="com.kh.pilot.recipe.domain.RecipeTag" alias="RecipeTag"/>
	<typeAlias type="com.kh.pilot.recipe.domain.RecipeComment" alias="RecipeComment"/>
	<typeAlias type="com.kh.pilot.panda.domain.QA" alias="QA"/>

</typeAliases>



<mappers>
<mapper resource="mappers/member-mapper.xml"></mapper>
<mapper resource="mappers/recipe-mapper.xml"></mapper>
<mapper resource="mappers/qna-mapper.xml"></mapper>
</mappers>
</configuration>